
.entries_cell{
  width: 30%;
  padding: 1vw;
  border-radius: 20px;
}

.entries_cell h1{
  font-size: 1vw;
  margin: 0;
  font-family: serif;
}

.entries_cell span{
  border-bottom: 1px solid black;
  font-family:arial narrow;
}

.entries_cell .span_title{
  color: white;
  background-color: black;
}

.entries_cell iframe{
  margin-top: 1vw;
}

.chat_section{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1vw;
  padding: 2vw;
}

.chat_section h1{
  font-size: 1vw;
  margin: 0;
  font-family: serif;
}

.filter_section{
  position: fixed;
  top: 0;
  left: 0;
  margin: 1vw;
  width: 100vw;
  display: flex;
}
